
/*Media query for mobile version*/

    .grid-container{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        overflow-x:scroll;
        scroll-behavior: smooth;


    }
    

/*Media query for tablets*/
@media (min-width:768px){
    .grid-container{
        display: grid;
        background-color: thistle;
        grid-template-columns: 351px 351px;
        justify-content: space-between;
        margin:0 0 0 0 ;
        padding:0px
    }
    .card{
        height:351px;
        width:351px;
        margin-right:0px;
    }
    .container{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top:30%;
        width:351px;
    }
    
    


}
