:root {
    --color-green-positive: rgba(60, 187, 180);
    --color-yellow-negative: 249, 173, 29;
    --color-dark-background: rgba(0, 0, 0, .4);
    --color-darker-background: rgba(0, 0, 0, .6);
    --color-darker-gray: rgba(51, 51, 51, 1);
    --color-dark-gray: rgba(70, 70, 70, 1);
    --color-light-gray: rgba(235, 235, 235, 1);
    --color-light-background: rgba(255, 255, 255, .4);
    --color-lighter-background: rgba(255, 255, 255, .8);
    --color-white: rgba(255, 255, 255, 1);
}
.titleSelectContainer{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 28px;
    align-items: center;
}
.title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    color:var(--color-dark-gray);
}
.select{
    width:131px;
    height:28px;
    border-color:var(--color-darker-gray) ;
    border-width: 2px;
    text-align: center;
    font-size: 12px;
}
.option{
    border:2px solid var(--color-darker-gray) ;
    
}
/*Media query for mobile version*/
@media (min-width:300px) and (max-width:767px){
    .grid-container-active{
            display: flex;
            flex-direction:row;
            flex-wrap: nowrap;
            overflow-x:scroll;
            
        }
        .list-container{
            display:none
        }
        .select{
            display:none;
        }
    }

/*Media query for tablets*/
@media (min-width:768px) and (max-width:1200px){
    .list-container{
        display:none
    }
    .list-container:active{
        display:flex;
    }
    .grid-container{
        display: none;
        
    }
    .grid-container-active{
        display:grid;
        background-color: gray;
        grid-template-columns: 351px 351px;
        justify-content: space-between;
        margin:0 0 0 0 ;
        padding:0px
    }
    .card{
        height:351px;
        width:351px;
        margin-right:0px;
    }      
}


