:root {
    --color-green-positive: 60, 187, 180;
    --color-yellow-negative: 249, 173, 29;
    --color-dark-background: rgba(0, 0, 0, .4);
    --color-darker-background: rgba(0, 0, 0, .6);
    --color-darker-gray: rgba(51, 51, 51, 1);
    --color-dark-gray: rgba(70, 70, 70, 1);
    --color-light-gray: rgba(235, 235, 235, 1);
    --color-light-background: rgba(255, 255, 255, .4);
    --color-lighter-background: rgba(255, 255, 255, .8);
    --color-white: rgba(255, 255, 255, 1);
}

.card{
    background-size: cover;
    background-repeat: no-repeat;
    height:300px;
    width:300px;
    padding:0px;
    margin:0px;
    position: relative;
    margin-bottom:20px;
    margin-right:20px;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:30%;
    width:300px;
}
.iconAndTitleCont{
   display:flex;
   flex-direction: row;
   align-items:center ; 
}
.iconContainer{
    display: flex;
    background-color: rgba(var(--color-green-positive), .8); ;
    width: 30px; 
    height:30px;
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
}
.icon{
   height:16px;
   width:16px;
}

.pollTitle,.description,.pubDate,.labelVoteNow{
    color:var(--color-white)
}
.pollTitle{
    display:flex;
    flex-wrap: wrap-reverse;
    font-size: 2.5em;
    font-weight: 400;
    height: 30px;
    margin:0;
    margin-left: 5px;
    padding:0;
    width: 90%;
    line-height: 42px;
}
.description {
    display: flex;
    margin-left: 45px;
    margin-right: 10px;
    font-size: 1em;
    font-weight: 350;
    flex-basis: 90%;
    font-size: 14px;
    overflow: hidden;
    height: 36px;
    text-overflow: ellipsis;
}

.pubDate{
    text-align: right;
    margin-top: 5px;
    margin-right:2em;
    font-size: 1rem;
    margin-bottom: 10px;
    
}
.thumbsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right:2em;
}
.buttonContainer{
    display:flex;
    align-items: center;
}

.iconButton {
    background-repeat: no-repeat;
    padding: 5px 7px;
    border: 0;
    margin-right:12px;
    cursor:pointer;
    height:30px;
    width:30px;
    background-position: center;
}

.iconButton[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive));
    background-image:  url("https://raw.githubusercontent.com/daferrom/RuleOfThumb/f2510aecfe85d7d76bfc9bac70a6efbb72f0fb0f/public/assets/img/thumbs-up.svg");   
}

.iconButton[aria-label="thumbs up"]:hover {
    background-color: rgba(var(--color-green-positive),.7);
}

.iconButton[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative));
    background-image:  url("https://raw.githubusercontent.com/daferrom/RuleOfThumb/f2510aecfe85d7d76bfc9bac70a6efbb72f0fb0f/public/assets/img/thumbs-down.svg");   
}

.iconButton[aria-label="thumbs down"]:hover {
    background-color: rgba(var(--color-yellow-negative), .7);
}
.iconButton:focus {
    border: 2px solid var(--color-white);
}
.iconButton:focus {
    border: 2px solid var(--color-white) ;
}
.VoteNowBtn:disabled{
    color:var(--color-white);
    display:flex;
    background-color: var(--color-dark-background);
    border: solid;
    border-color: var(--color-white);
    border-width: 1px;
    padding: 0em 1.5em;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    height: 45px; 
} 
.VoteNowBtn:enabled{
    color:var(--color-white);
    display:flex;
    background-color: var(--color-gray-medium);
    border: solid;
    border-width: 1px;
    padding: 0em 1.5em;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    height: 45px; 
    cursor: pointer;
}
.VoteNowBtn:enabled:hover{
    background-color: var(--color-lighter-background);
    color:var(--color-gray-medium)
}
